*{
    box-sizing: border-box;
    margin: 0;
}

body{
    position: relative;
}

div{
    width: 500px;
    padding: 20px;
    background-color: rgb(255, 253, 255);
    margin: 30px;
    color: white;
    font-size: 20px;
}

.assign-1-shape-1{
    background-color: blueviolet;
}

.assign-1-shape-2{
    background-color: rgba(137, 43, 226, 0.5);
}

.assign-1-shape-3{
    background-color: rgba(137, 43, 226, .1);
}

.container div{
    height: 400px;
    width: 400px;
    margin: 10px;
    padding: 10px;
    background-color: #eee;
    background-image: url(../imgs/pic.png);
}

.assign-2-shape-1{
    background-repeat: no-repeat;
}

.assign-2-shape-2{
    background-repeat: repeat-y;
}

.assign-2-shape-3{
    background-repeat: repeat-x;
}

.assign-2-shape-4{
    background-repeat: repeat;
}

.three div {
    width: 400px;
    height: 400px;
    margin: 10px;
    padding: 10px;
    color: black;
    background-image: url(../imgs/pic.png);
    background-color: #eee;
}
.assign-3-shape-1{
    background-repeat: no-repeat;
}

.assign-3-shape-2{
    background-repeat: repeat-y;
    background-position: right;
}

.assign-3-shape-3{
    background-repeat: repeat-x;
    background-position: bottom;
}

.assign-3-shape-4{
    background-repeat: repeat;
}

.four div{
    width: 400px;
    height: 400px;
    margin: 10px;
    padding: 10px;
    background-color: #eee;
    background-repeat: no-repeat;
    color: black;
    background-image: url(../imgs/pic.png);
}

.assign-4-shape-1{
    background-size: 80%;
}

.assign-4-shape-2{
    background-size: 80% 100%;
    background-position: right;
}

.assign-4-shape-3{
    background-size: 100% 80%;
    background-position: bottom;
}

.assign-4-shape-4{
    background-size: 50%;
    background-position: bottom right;
}

.tree{
    position: absolute;
    right: 50px;
    bottom: 0;
}

.first{
    position: absolute;
    left: 50px;
    bottom: 0;
}
